In [4]:
import pandas as pd
pubg = pd.read_csv("train.csv")

In [5]:
pubg.head(10)

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,0,24,0,0,5,247.30,2,0,4,17,...,1,591.3,0,0.0,0,0,782.40,4,1458,0.8571
1,1,440875,1,1,0,37.65,1,1,0,45,...,0,0.0,0,0.0,0,0,119.60,3,1511,0.0400
2,2,878242,2,0,1,93.73,1,0,2,54,...,1,0.0,0,0.0,0,0,3248.00,5,1583,0.7407
3,3,1319841,3,0,0,95.88,0,0,0,86,...,0,0.0,0,0.0,0,0,21.49,1,1489,0.1146
4,4,1757883,4,0,1,0.00,0,0,1,58,...,0,0.0,0,0.0,0,0,640.80,4,1475,0.5217
5,5,2200824,5,0,2,128.10,0,0,0,25,...,0,2221.0,0,0.0,0,0,1016.00,4,1500,0.9368
6,6,2568717,6,1,0,130.30,0,0,0,28,...,0,721.7,0,0.0,0,0,280.10,3,1495,0.3721
7,7,2612473,7,1,1,661.80,2,3,2,3,...,0,0.0,0,0.0,0,0,2617.00,4,1479,1.0000
8,8,2656377,8,0,3,94.72,0,0,5,50,...,0,2963.0,0,28.9,0,0,3139.00,5,1528,0.7037
9,9,2700597,9,0,0,137.60,0,0,0,81,...,0,0.0,0,0.0,0,0,238.70,3,1500,0.0417

In [6]:
list(pubg)

['Id',
 'groupId',
 'matchId',
 'assists',
 'boosts',
 'damageDealt',
 'DBNOs',
 'headshotKills',
 'heals',
 'killPlace',
 'killPoints',
 'kills',
 'killStreaks',
 'longestKill',
 'maxPlace',
 'numGroups',
 'revives',
 'rideDistance',
 'roadKills',
 'swimDistance',
 'teamKills',
 'vehicleDestroys',
 'walkDistance',
 'weaponsAcquired',
 'winPoints',
 'winPlacePerc']

In [13]:
# import seaborn as sns
pubg.shape

(4357336, 26)

In [15]:
pubg.weaponsAcquired.value_counts()

2     839233
3     811641
4     657828
1     625467
5     479754
6     310024
0     227198
7     182654
8     101557
9      53575
10     28112
11     14579
12      7897
13      4149
14      2772
15      1637
16      1353
18       984
17       922
20       744
19       675
22       555
21       520
24       460
23       436
26       343
25       324
28       246
27       243
29       187
       ...
37        52
38        50
41        36
42        35
44        28
43        23
47        20
45        17
48        13
46        10
50        10
49         9
52         6
58         5
60         4
55         4
51         4
54         3
53         3
69         2
57         2
63         2
61         2
67         1
64         1
72         1
62         1
59         1
56         1
76         1
Name: weaponsAcquired, Length: 69, dtype: int64